@import '../../../variables';
.content {
  display: flex;
  flex-direction: column;
  min-width: 780px;

  .controller {
    display: flex;
    flex-direction: row;
    padding: $space-l;
    background-color: white;
    .switch {
      display: flex;
      margin-left: auto;
    }
  }
  .keymap {
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
    background-color: white;
    min-height: 400px;
  }
  .keycode {
    display: flex;
    flex-direction: column;
    padding: $space-l;
    .disable {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.8);
      margin-left: -16px;
      margin-top: -16px;
    }
  }
}
