@import '../../../variables';
.content {
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 780px;
  height: 100vh;

  .phase-processing-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: $space-xl;
    background-color: white;
    flex: 1 1;
  }

  .app-version {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: $color-gray-400;
    font-size: 0.7rem;
    margin-right: $space-s;
    margin-bottom: $space-s;
  }
}
