@use '../../../variables';

:root {
  --switch-width: 140px;
}

.keycodes-2width {
  .sub-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-wrap: anywhere;
    width: calc(var(--key-width) * 2);
    height: calc(var(--key-height));
    border: 1px solid transparent;
    margin-right: 16px;
    margin-top: 8px;
    span {
      font-size: 0.6rem;
      font-weight: 600;
      padding: 0 2px;
      &:hover {
        color: white;
        background-color: variables.$primary-pale;
      }
    }
  }
}

.sub-category-group {
  display: flex;
  flex-direction: row;
  .sub-category {
    display: flex;
    align-items: flex-end;
    width: calc(var(--key-width) * 2);
    min-width: calc(var(--key-width) * 2);
    margin-right: 16px;
    text-align: right;
  }
  .sub-category-keys {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.keycodes-left-subcategory {
  .keycodes {
    display: flex;
    flex-direction: column;
  }
}
