@import '../../../variables';

.diff {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: $space-l;

  .diff-frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .spacer {
      width: 94px;
    }
    .key-orig,
    .key-dest {
      position: relative;
    }

    .arrow {
      margin: 0 16px;
    }
    .cancel-button {
      margin-left: 8px;
    }
  }
}
