@import '../../../variables';

.keycodekey {
  width: calc(var(--key-width));
  height: calc(var(--key-height));
  border: 1px solid #ccc;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #333;
  margin-right: 8px;
  margin-top: 8px;
  z-index: 1;
  &.grabbable {
    cursor: grab;
  }

  &.dragging {
    cursor: grabbing;
    z-index: 2;
  }

  &.dragging-keycodekey {
  }

  &.clickable {
    cursor: pointer;
  }

  &.addkey {
    border: 1px dashed #ccc;
    &:hover {
      background-color: $primary-pale;
      transition: background-color 0.5s;
    }
  }

  .code-label {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.1;
    font-size: 0.72rem;
    overflow-wrap: anywhere;
    overflow: hidden;
    padding: $space-xs;
    height: 40%;
  }

  .code-label-expand {
    flex-grow: 1;
  }

  .modifier-label {
    height: 30%;
    color: $color-gray-600;
    font-size: 0.6rem;
  }
}
