@import '../../../variables';

.keycodekey {
  width: calc(var(--key-width));
  height: calc(var(--key-height));
  border: 1px solid #ccc;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #333;
  margin-right: 8px;
  margin-top: 8px;
  cursor: grab;
  &.selected {
    border-width: 2px;
    border-color: $primary-light;
  }
  &:hover {
    transform: translateY(-4px);
    transition: 0.3s;
  }
  &.clickable {
    &:hover {
      border-color: $primary-light;
      transition: 0.3s;
    }
  }

  .code-label {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 16px;
    font-size: 0.76rem;
    overflow-wrap: anywhere;
    padding: $space-xs;
  }
}
