@import '../../../variables';

.layer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 140px;
  .layers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .layer {
      display: flex;
      flex-direction: column;
      align-items: center;
      .unselected-layer {
        border-width: 0;
      }
    }
  }
}

.keyboards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .keyboard-root {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 5px solid #ececec;
    border-right: 5px solid #ececec;
    border-top: 1px solid #ececec;
    border-bottom: 8px solid #f3f3f3;
    border-radius: 8px;
    background-color: #fcfcfc;
    -webkit-filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.2));
    -moz-filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.2));
    -ms-filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.2));
    .keyboard-frame {
      width: 100%;
      position: relative;
    }
  }
}
