@import '../../../variables';

.catalog-introduction {
  &-wrapper {
    position: fixed;
    width: 100%;
    max-width: 960px;
    margin-top: calc(var(--key-height));
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-container {
    width: 100%;
    height: calc(100vh - var(--key-height) - 26px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8px;
  }

  &-content {
    width: 100%;
  }

  &-column {
    width: 100%;
  }

  &-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-container {
      width: 400px;
      height: 300px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &-paginate {
      background-color: white !important;
    }

    &-nothing {
      width: 400px;
      height: 300px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

  &-section {
    margin: 8px;

    & h2 {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 16px;
    }
  }

  &-chip-container {
    margin-bottom: 16px;

    & div {
      margin-right: 8px;
      margin-bottom: 8px;
    }
  }

  &-stores {
    display: flex;
    flex-direction: row;
  }

  &-store {
    display: inline-block;
    margin-right: 16px !important;
  }

  &-share-buttons {
    margin-right: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  &-description-tab {
    margin-bottom: 8px;
  }
}
