@import '../../../variables';

@keyframes blink {
  0% {
    background-color: $primary-pale;
  }
  100% {
    background-color: $primary-light;
  }
}
.keycap-base {
  //position: absolute;
  .keycap {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e0e0e0;
    font-size: 12px;
    cursor: pointer;
    &.keycap-selected {
      animation: blink 1s infinite alternate;
    }

    &:hover {
      border-color: $primary-light;
    }

    .keybase {
      border: 1px solid rgba(255, 255, 255, 0.9);
      background-color: rgba(255, 255, 255, 0.68);
      border-radius: 3px;
      margin: 3px 6px 6px 6px;
      .keyroof {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        border-color: #000;
        box-sizing: border-box;
        background-clip: padding-box;
        .keylabel {
          position: relative;
          height: 13px;
          color: #333;
          flex-grow: 1;
          .label {
            position: absolute;
            width: 100%;
            left: 0;
          }
          .left {
            text-align: left;
          }
          .center {
            text-align: center;
          }
          .right {
            text-align: right;
          }
        }
      }
    }
  }
}
.key-05u {
  width: calc(var(--key-width) * 0.5);
  height: calc(var(--key-height) * 1);
}
.key-1u {
  width: calc(var(--key-width) * 1);
  height: calc(var(--key-height) * 1);
}

.key-15u {
  width: calc(var(--key-width) * 1.5);
  height: calc(var(--key-height) * 1);
}

.key-2u {
  width: calc(var(--key-width) * 2);
  height: calc(var(--key-height) * 1);
}

.key-4u {
  width: calc(var(--key-width) * 4);
  height: calc(var(--key-height) * 1);
}
