@import '../../../variables';

.layout-options-dialog {
  .close-dialog {
    position: absolute;
    top: 20px;
    right: 20px;

    &:hover {
      color: $primary-light;
      cursor: pointer;
    }
  }
  .config-menu {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
  .layout-options {
    display: flex;
    flex-direction: row;
    padding-left: $space-s;

    .option-label,
    .option-value {
      display: flex;
      align-items: center;
      font-size: 1rem;
    }

    .option-value {
      justify-content: flex-end;
      .option-value-select {
        min-width: 180px;
      }
    }
  }
  .tab-panel {
    width: 400px;
    height: 400px;
    padding-left: $space-xl;

    .import-success {
      margin-top: $space-l;
      .apply-definition {
        padding: $space-m 0;
        display: flex;
        justify-content: flex-end;
        button {
          margin-left: $space-m;
        }
      }
    }
  }
}

.option-warning-message {
  font-size: 90%;
  line-height: 0.95rem;
  color: $color-gray;
  margin-bottom: $space-m;
}
