@import '../../../variables';

.create-keyboard-wrapper {
  position: fixed;
  width: 100%;
  max-width: 960px;
  margin-top: calc(var(--key-height));
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-keyboard-card {
  width: 100%;
  height: 100%;
  padding-top: 16px;
}

.create-keyboard-form-container {
  display: flex;
  flex-direction: row;
}

.create-keyboard-upload-form {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex: none;
  width: 400px;
  height: 100%;
  max-height: 500px;
  overflow-y: auto;
}

.create-keyboard-upload-msg {
  font-weight: bold;
  font-size: 140%;
}

.create-keyboard-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 64px 0 16px;

  &-row {
    margin-bottom: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    button {
      margin-left: $space-l;
    }
  }
}
