@import '../../_variables.scss';

.header {
  display: flex;
  flex-direction: row;
  margin: 0 $space-m;
  background: white;
  height: 42px;
  align-items: center;
  .logo {
    height: 28px;
  }
  .kbd-name {
    display: flex;
    flex-direction: column;
    margin-left: $space-m;
    h2 {
      margin: 0;
    }
    .ids {
      font-size: $font-xs;
      color: $color-gray;
      margin-top: -4px;
    }
  }
  .status {
    display: flex;
    .connection {
      margin-left: $space-m;
    }
    .message {
      font-size: $font-s;
      color: $warning;
      margin-left: $space-m;
    }
  }
  .buttons {
    display: flex;
    margin-left: auto;
  }
}

.unsupported-browser-wrapper {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .message-box {
    width: 600px;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 16px;
    margin-top: 64px;
  }
}
