@import '../../../variables';
.catalog-content {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  .catalog-processing-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: $space-xl;
    background-color: white;
    flex: 1 1;
    width: 100%;
  }
}
