@import '../../../variables';

.keydiff-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 78px;
  margin-top: $space-s;
}

.keyboards-wrapper {
  display: flex;
  flex-direction: row;

  .balancer {
    width: 140px;
  }
}
