@import '../../../_variables.scss';

.header {
  display: flex;
  position: fixed;
  height: calc(var(--key-height));
  width: 100%;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0 $space-m;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 2;
  .logo {
    height: 28px;
  }
  .kbd-select {
    display: flex;
    flex-direction: row;
    margin-left: $space-m;
    align-items: center;
    cursor: pointer;

    .kbd-name {
      display: flex;
      flex-direction: column;

      h2 {
        margin: 0;
      }
      .ids {
        font-size: $font-xs;
        color: $color-gray;
        margin-top: -4px;
      }
    }

    &:hover {
      color: $primary;
      .kbd-name {
        .ids {
          color: $primary;
        }
      }
    }
  }

  .status {
    display: flex;
    .connection {
      margin-left: $space-m;
    }
  }
  .buttons {
    display: flex;
    position: relative;
    margin-left: auto;
    .flush-btn {
      min-width: 80px !important;
    }
    .flush-loading {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -12px;
      margin-left: -12px;
    }
  }

  .hidden {
    visibility: hidden;
  }
}

.connected-device {
  opacity: 1 !important;
}

.device-item {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  align-items: center;

  .link-icon {
    margin-right: $space-m;
  }
  .link-on {
    color: $primary;
    font-weight: 700;
  }
  .link-off {
    .device-name {
      font-weight: 400;
    }
  }
  .device-name {
    display: flex;
    align-items: center;
    color: black;
    .device-ids {
      font-weight: 400;
      font-size: 40%;
      margin-left: $space-m;
    }
  }
}

.another-device-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  .another-device {
    text-align: center;
  }
}

/*==== FLUSH BUTTON ====*/
@keyframes button-flushing {
  0% {
  }

  20% {
    color: transparent;
    transform: scale(1, 1);
  }

  40% {
    border-color: #5585ff;
    background-color: transparent;
    transform: scale(1, 1);
  }

  60% {
    transform: scale(0.7, 1.1);

    margin-left: 1.25rem;
    width: 2.5rem;
    text-indent: -0.6125rem;

    color: transparent;
    border-color: #5585ff;
    background-color: #5585ff;
  }

  80% {
    transform: scale(1, 1);
  }

  100% {
    margin-left: 1.25rem;
    width: 2.5rem;

    background-color: #5585ff;
    border-color: #5585ff;
    color: transparent;
  }
}

@keyframes button-dot-intro {
  0% {
    opacity: 0;
  }

  60% {
    opacity: 1;
    transform: scale(1, 1);
  }

  100% {
    transform: scale(0.75, 0.75);
  }
}

@keyframes button-dot-pulse {
  0% {
    opacity: 1;
    transform: scale(0.75, 0.75);
  }

  15% {
    transform: scale(0.85, 0.85);
  }

  45% {
    transform: scale(0.75, 0.75);
  }

  55% {
    transform: scale(0.95, 0.95);
  }

  85% {
    transform: scale(0.75, 0.75);
  }

  100% {
    opacity: 1;
    transform: scale(0.75, 0.75);
  }
}

@keyframes button-ready {
  0% {
    margin-left: 1.25rem;
    width: 2.5rem;
  }

  10% {
    background-color: #5585ff;
    border-color: #5585ff;
  }

  70% {
    margin: 0;
    width: 7.25rem;
    background-color: #fff;
    transform: scale(1.1, 1.1);
  }

  100% {
    margin: 0;
    width: 7rem;
    border-color: #8cce1e;
    background-color: #fff;
  }
}

@keyframes button-dot-outro {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(1, 1);
  }
}

@keyframes button-ready-label {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.flush-button {
  position: relative;
  overflow: hidden;
  width: 7rem;
  color: $primary-pale;
  border: 2px solid $primary-pale;
  background-color: transparent;
  cursor: pointer;
  line-height: 2;
  margin: 0;
  padding: 0;
  border-radius: 1.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  outline: none;
  transition: transform 0.125s;

  &:active {
    transform: scale(0.9, 0.9);
  }

  &:before,
  &:after {
    position: absolute;
    opacity: 0;

    border-radius: 50%;
    background-color: #fff;
    top: 50%;
    left: 50%;
    margin-top: -1.125rem;
    margin-left: -1.125rem;
    width: 2.25rem;
    height: 2.25rem;

    content: '';
    z-index: 1;
  }

  &.flushing {
    animation: button-flushing 0.5s forwards;
  }

  &.flushing:before {
    opacity: 1;
    animation: button-dot-intro 0.5s forwards;
  }

  &.flushing:after {
    opacity: 0;
    animation: button-dot-pulse 1.5s infinite 0.5s;
  }

  &.ready {
    text-indent: 0;
    color: transparent;
    background-color: #5585ff;
    animation: button-ready 0.333s forwards;
  }

  &.ready:before {
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    margin: 0;
    width: auto;
    height: auto;
    border-radius: 0;
    background-color: transparent;
    color: #8cce1e;
    content: 'ready';
    opacity: 0;
    z-index: 2;
    animation: button-ready-label 0.5s forwards 0.275s;
  }

  &.ready:after {
    opacity: 1;
    animation: button-dot-outro 0.333s;
  }
}
