@import '../../../_variables.scss';

.header {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0 $space-m;
  background: white;
  height: 42px;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  .logo {
    height: 28px;
  }
  .kbd-select {
    display: flex;
    flex-direction: row;
    margin-left: $space-m;
    align-items: center;
    cursor: pointer;

    .kbd-name {
      display: flex;
      flex-direction: column;

      h2 {
        margin: 0;
      }
      .ids {
        font-size: $font-xs;
        color: $color-gray;
        margin-top: -4px;
      }
    }

    &:hover {
      color: $primary;
      .kbd-name {
        .ids {
          color: $primary;
        }
      }
    }
  }

  .status {
    display: flex;
    .connection {
      margin-left: $space-m;
    }
  }
  .buttons {
    display: flex;
    margin-left: auto;
    .flush-btn {
      min-width: 80px !important;
    }
  }

  .hidden {
    visibility: hidden;
  }
}

.connected-device {
  opacity: 1 !important;
}

.device-item {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  align-items: center;
  .link-icon {
    margin-right: $space-m;
  }
  .link-on {
    color: $primary;
    font-weight: 700;
  }
  .link-off {
    .device-name {
      font-weight: 400;
    }
  }
  .device-name {
    display: flex;
    align-items: center;
    color: black;
    .device-ids {
      font-weight: 400;
      font-size: 40%;
      margin-left: $space-m;
    }
  }
}

.another-device-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  .another-device {
    text-align: center;
  }
}
