@import '../../../variables';

.keymap-menu {
  display: flex;
  width: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8px 16px;
  .keymap-menu-item {
    margin-bottom: $space-m;
  }
}
