@import '../../../variables';

.customkey-field {
  margin-bottom: $space-l;
}

.customkey-select-item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: $space-s 0;
  font-size: 0.87rem;
  width: 100%;
  .keycode-label-wrapper {
    display: flex;
    flex-direction: row;
    .keycode-label {
      flex-grow: 1;
    }
    .keycode-category {
      color: $color-gray-600;
    }
  }
  .keycode-desc {
    font-size: 0.8rem;
    color: $color-gray-600;
  }
}
