@import '../../../variables';

.customkey-popover {
  .MuiTab-root {
    min-width: 90px !important;
  }
  .MuiPopover-paper {
    overflow-x: visible;
    overflow-y: visible;
    margin-top: -10px;
  }
  .MuiPaper-root {
    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      left: 185px;
      bottom: -15px;
      border-top: 15px solid #ffffff;
      border-right: 15px solid transparent;
      border-left: 15px solid transparent;
    }
    .customkey-body {
      width: 400px;
      min-height: 260px;

      .customkey-label {
        width: 100%;
      }
      .customkey-description {
        margin-bottom: $space-l;
        font-size: 0.96rem;
      }
      .customkey-code {
        div::before {
          content: '0x';
          margin-left: $space-l;
          color: $color-gray-500;
        }
        input {
          padding-left: $space-xs;
        }
      }
      .customkey-bcode {
        color: $color-gray-400;
        font-size: 0.7rem;
        justify-content: flex-end;
        display: flex;
        margin-top: -34px;
        margin-right: 8px;
      }
    }
    .modifiers-label {
      font-weight: 700;
    }
  }
}
