@use '../../../variables';

.info-dialog {
  .close-dialog {
    position: absolute;
    top: 20px;
    right: 20px;

    &:hover {
      color: variables.$primary-light;
      cursor: pointer;
    }
  }

  &-information-message {
    font-size: 90%;
    line-height: 0.95rem;
    color: variables.$color-gray;
    margin-bottom: variables.$space-m;
  }

  &-warning-message {
    font-size: 90%;
    line-height: 0.95rem;
    color: variables.$error;
    margin-bottom: variables.$space-m;
  }
}
