@use '../../../variables';

.import-file-dialog {
  .close-dialog {
    position: absolute;
    top: 20px;
    right: 20px;

    &:hover {
      color: variables.$primary-light;
      cursor: pointer;
    }
  }

  .import-file-content {
    width: 540px;
    height: 440px;

    .import-success {
      margin-top: variables.$space-l;
      .apply-definition {
        padding: variables.$space-m 0;
        display: flex;
        justify-content: flex-end;
        button {
          margin-left: variables.$space-m;
        }
      }
    }
  }
}

.option-warning-message {
  font-size: 90%;
  line-height: 0.95rem;
  color: variables.$color-gray;
  margin-bottom: variables.$space-m;
}
