@import '../../../variables';

.underglow-dialog {
  .close-dialog {
    position: absolute;
    top: 20px;
    right: 20px;

    &:hover {
      color: $primary-light;
      cursor: pointer;
    }
  }
  .underglow-settings {
    .underglow-label {
      font-size: 0.87rem;
      margin-top: $space-m;
    }
    .underglow-value-inner {
      width: 240px;
    }
    .underglow-slider-value {
      position: absolute;
      margin-left: 8px;
    }

    .underglow-color-wrapper {
      .chrome-picker {
        margin: auto;
        box-shadow: none !important;
        border: 1px solid rgba(0, 0, 0, 0.1);
      }
      .color-wheel {
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: $space-l;
      }
    }
    .underglow-effect-type-label {
      margin-top: 0px;
    }
    .underglow-color {
      display: flex;
      height: 60px;

      .underglow-color-value {
        display: flex;
      }
      .underglow-color-value:not(:last-child) {
        margin-right: $space-s;
      }
      .color-rgb {
        flex-grow: 4;
        contain: size;
      }
      .color-hue {
        flex-grow: 3;
        contain: size;
      }
      .color-saturation {
        flex-grow: 3;
        contain: size;
      }
      .color-brightness {
        flex-grow: 3;
        contain: size;
      }
    }
  }
}

.color-picker-popover {
  position: absolute;
  z-index: 2000;
  .color-picker-cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
