@import '../../../variables';

.keymaplist-root {
  .keymaplist {
    padding: 0 $space-l;
  }
  .keymaplist-popover {
    width: 360px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    .keymaplist-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      .keymaplist-header-buttons {
        margin-left: auto;
      }
    }
    .keymaplist-content {
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      overflow-x: hidden;
      .no-saved-keymap {
        padding-bottom: $space-l;
        .keymaplist-warning {
          color: $warning;
        }
      }
      .MuiListItemText-secondary {
        overflow-wrap: anywhere;
        overflow-y: scroll;
        max-height: 40px;
      }
    }

    .request-signin {
      padding: $space-l;
      display: flex;
      flex-direction: column;

      .request-signin-message {
        color: $warning;
      }
      .request-signin-actions {
        display: flex;
        justify-content: center;
        padding-top: $space-l;
      }
    }
  }
}
