@import '../../../variables';

.shared-keymaps-dialog {
  .close-dialog {
    position: absolute;
    top: 20px;
    right: 20px;

    &:hover {
      color: $primary-light;
      cursor: pointer;
    }
  }

  .shared-keymaps-dialog-content {
    width: 540px;
    display: flex;
    flex-direction: column;

    .shared-keymaps-dialog-filter-row {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}
